@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--b-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
	--bg-color: rgba(8,145,178,255);
	--opaque-text-color: rgba(0, 0, 0, 0.675);
}

body {
	margin: 0;
	font-family: "Roboto", serif;
	line-height: 1.5;
}

h2 {
	font-family: "Playfair Display", serif;
	font-weight: 300;
	font-size: calc(2rem + 0.25vw);
}

h2, h3, p {
	margin: 0;
}

h3 {
	font-family: "Playfair Display", serif;
	font-weight: 300;
	font-size: calc(0.875rem + 0.25vw);
}

.stack, .small-stack {
	display: block;
}

.stack > * + * {
	margin-top: 1.5rem;
}

.small-stack > * + *{
	margin-top: 0.5rem;;
}

/* Header styles - Desktop */

.about {
	position: relative;
	min-height: fit-content;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* The below might need some adjustments for big screens sizes, especially skew */
.about::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 100%;
	z-index: -1;
	background-color: var(--bg-color);
	transform: skewY(-12.5deg);
	transform-origin: bottom left;
	box-shadow: var(--b-shadow);
	overflow: hidden;
}

.about-container {
	width: 86vw;
	max-width: 1100px;
	display: flex;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.about-image {
	display: flex;
	justify-content: center;
	align-items: end;
	width: 43.5%;
	aspect-ratio: 1/1;
	/* Provide correct image size once decided (in case of table consider scaling factor as well*/
	background-image: url("img/profile_frontal_3500x3500.jpg");
	background-size: contain;
	box-shadow: var(--b-shadow);
}

.about-image-text {
	color: white;
	font-family: "Playfair Display", serif;
	font-size: min(5vw, 62px);
	white-space: nowrap;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.616);
}

.info-card {
	flex: 1;
	background-color: white;
	height: fit-content;
	padding: 1.25rem 1.5rem 1.25rem 1rem;
	box-shadow: var(--b-shadow);
}

.info-card p {
	font-size: calc(1rem + 0.25vw);
	color: var(--opaque-text-color);
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.icons {
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 1rem;
}

.icons a {
	color: black;
	text-decoration: none;
}

.icons i {
	font-size: 1.5rem;
}

.about-image-tablet {
	display: none;
	background-image: none;
}

/* Header styles for tablet size */

@media (max-width: 1000px) and (min-width: 500px) {
	.about-container {
		display: block;
	}

	.info-card {
		width: min(82%, 669px);
		margin-left: auto;
		margin-right: auto;
		padding: 1rem 2rem;
	}

	.about-image {
		display: none;
		background-image: none;
	}

	.about-image-tablet {
		display: block;
		background-image: url("img/profile_frontal_3500x3500.jpg");
		background-size: contain;
		width: max(35vw, 250);
		aspect-ratio: 1/1;
		float: left;
		margin-right: 1.4rem;
		shape-outside: inset(0 0 12% 0);
		transform-origin: bottom right;
		box-shadow: var(--b-shadow);
	}

	.about-image-tablet .about-image-text {
		color: white;
		font-family: "Playfair Display", serif;
		white-space: nowrap;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.616);
		transform: translate(90%, -10%);
	}

	.info-card h2 {
		padding-top: 3rem;
	}
	.info-card p {
		padding-bottom: 3rem;
	}

	.icons {
		display: none;
	}
}

@media (max-width: 750px) and (min-width: 500px) {
	.about-image-tablet {
		transform: scale(1.3) translateY(-10%);
	}

	.about-image-tablet .about-image-text {
		font-size: 5.5vw;
	}
}

/* Fine adjustment of image and image text scaling */

@media (max-width: 1000px) and (min-width: 750px) {
	.about-image-tablet {
		transform: scale(1.2) translateY(-10%);
	}

	.about-image-tablet .about-image-text {
		font-size: 5.1vw;
	}
}

/* Header styles for mobile view */

@media (max-width: 499px) {
	.about {
		padding-top: 10%;
	}

	.about::before {
		height: 80vh;
		transform: skewY(-32deg) translateY(-35%);
	}
	
	.about-container {
		flex-direction: column;
	}

	.about-image {
		width: 94%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		aspect-ratio: 1 / 1.6;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	}

	.about-image-text {
		font-size: 19vw;
		white-space: wrap;
		padding-left: 5%;
		align-items: end;
		transform: translateY(7%);
	}

	.info-card {
		background-color: transparent;
		box-shadow: none;
		padding: 13vw 0 1.25rem 0;
	}

	.info-card h2 {
		font-size: 12vw;
		text-align: center;
	}

	.info-card p {
		font-size: 5.5vw;
		padding-bottom: 1rem;
	}

	.icons {
		justify-content: center;
	}

	.icons i {
		font-size: 9vw;
	}
}

/* Styles for 'My work' section - desktop */

.my-work {
	padding: 2rem 6vw 8vw 6vw;
}

.project-container {
	display: flex;
	flex-wrap: wrap;
	column-gap: 3%;
	row-gap: 4vw;
	justify-content: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.project  {
	width: calc(94% / 3);
	box-shadow: var(--b-shadow);
}

.image {
	width: 100%;
	aspect-ratio: 4 / 3;
	background-color: var(--bg-color);
}

.project-description {
	padding: 0.5rem 1rem 2rem 1rem;
}

.project-description-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.project-icon-links {
	display: flex;
	gap: 1vw;
}

.project-icon-links a {
	width: calc(0.875rem + 0.25vw);
	font-size: calc(0.875rem + 0.25vw);
	color: black;
	text-decoration: none;
	display: flex;
	align-items: center;
}

.project-description-body {
	color: var(--opaque-text-color);
	font-size: calc(0.675rem + 0.25vw);
	line-height: 1.25;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

/* Styles for 'My work' section - tablet */

@media (max-width: 1000px) and (min-width: 500px) {
	.my-work {
		padding: 2rem 9vw 10rem 9vw;
	}

	.project-container {
		column-gap: 6%;
		row-gap: 7.5vw;;
	}

	.project  {
		width: calc(94% / 2);
	}
}

/* Styles for 'My work' section - mobile */

@media (max-width: 499px) {
	.my-work {
		padding: 25vw 5vw 45vw 5vw;
	}

	.my-work h2 {
		text-align: center;
		font-size: 13vw;
	}

	.project-container {
		padding-top: 4.5vw;
		padding-bottom: 3.5vw;
		row-gap: 15vw;
	}

	.project  {
		width: calc(100%);
	}

	.project-description {
		padding: 4vw 6vw 2rem 6vw;
	}

	.my-work h3 {
		font-size: 6vw;
	}

	.project-icon-links {
		gap: 3vw;
	}

	.project-icon-links a {
		width: 6vw;
		font-size: 6vw;
	}

	.project-description-body {
		font-size: 4.5vw;
		padding-top: 3vw;
		padding-bottom: 15vw;
	}
}

/* Styles for Contact section - desktop */

.contact {
	background-color: var(--bg-color);
	padding: 5vw 6vw 5vw 6vw;
	color: white;
}

.contact-container {
	display: flex;
	font-size: calc(1rem + 0.25vw);
	justify-content: space-between;
	gap: 3%;
}

.contact-information {
	width: 37%;
}

.contact-information h2 {
	padding-top: 1rem;
}

.contact-introduction {
	padding-top: 0.75rem;
}

.contact-details p {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.contact img {
	width: calc(1.5rem + 0.25vw);
	aspect-ratio: 1 / 1;
}

.image-contact {
	background-image: url("img/DSC04527.JPG");
	background-position: 50% 45%;
	background-size: cover;
	width: 59%;
	max-width: 650px;
	aspect-ratio: 4/3;
}

.contact .icons {
	justify-content: start;
	gap: 1.5rem;
}

.contact .icons i {
	font-size: 2.25rem;
}